<div  *ngIf='item.list==page && item.show'>

  <!-- each item -->
  <ion-grid class="item-wrapper" >
    <ion-row >
      <ion-col size='1'>
        <ion-checkbox color='light' [(ngModel)]='item.selected'></ion-checkbox>
      </ion-col>

      <ion-col size='6' (tap)='edit(item)'>
        <span *ngIf='!item.editing' >{{item.name}}</span>
        <ion-input #input *ngIf='item.editing' (ionBlur)='save()' [(ngModel)]='newName'  inputmode='text'></ion-input>
          </ion-col>

      <ion-col size='4' style='font-size: medium;'>
        <ion-datetime displayFormat="MM/DD/YY" (ionChange)='itemData.updateItem(item)' [min]="itemData.__past()" [max]="itemData.__now()" [(ngModel)]='item.date' placeholder="last bought"></ion-datetime>
      </ion-col>

      <ion-col size='1' (click)='displayDetail(item)'>
        <ion-icon [name]="arrow()" ></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-expandable-detail [expandItem]='item' [curPage]='page' class='itemDetail'></app-expandable-detail>
</div>
