<ion-grid >
  <ion-row (swiperight)='swipeToHistory(item.key)'>

    <ion-col size='2'><ion-checkbox color='light' [(ngModel)]='item.value.selected'></ion-checkbox></ion-col>
    <ion-col size='6' (tap)='edit(item)'>
      <span *ngIf='!item.value.editing' >{{item.value.name}}</span>
      <ion-input *ngIf='item.value.editing' (ionBlur)='save(item)' [(ngModel)]='item.value.name'  inputmode='text'></ion-input>
    </ion-col>

    <ion-col size='3' style='font-size:2vh;'>
      <ion-datetime displayFormat="MM/DD/YY" [min]="itemData.__past()" [max]="itemData.__now()" [(ngModel)]='item.value.date' placeholder="yet to buy"></ion-datetime>
    </ion-col>

    <ion-col size='1' (click)='displayDetail(item)'><ion-icon name="arrow-dropdown" ></ion-icon></ion-col>
  </ion-row>
</ion-grid>
