
<ion-header>
<ion-toolbar>
    <ion-title>
      <ion-icon name="cart"></ion-icon>
    </ion-title>
</ion-toolbar>
</ion-header>

  <!--search bar-->
<ion-content>
    <ion-grid id='searchbar'>
      <ion-row>
        <ion-col size='10'><ion-searchbar ></ion-searchbar></ion-col>
        <ion-col size='1'><ion-icon name="basket" (click)='moveToShoppingList()' ></ion-icon></ion-col>
        <ion-col  size='1'><ion-icon name='trash' (click)='delete()'></ion-icon></ion-col>
      </ion-row>
    </ion-grid>


  <!--actual list-->
  <ion-list>
    <li  *ngFor='let item of itemData.historyItems|keyvalue'>

      <ion-grid>
        <ion-row (swipeleft)='swipeToshoppingList(item.key)'>
          <ion-col size='2'><ion-checkbox color='light' [(ngModel)]='item.value.selected'></ion-checkbox></ion-col>
          <ion-col size='6' (click)='displayDetail(item)'><ion-label  >{{item.key}}</ion-label></ion-col>

          <ion-col size='3' (click)='displayDetail(item)'><ion-label> {{item.value.date}}</ion-label></ion-col>
          <ion-col size='1' (click)='displayDetail(item)'><ion-icon name="arrow-dropdown" ></ion-icon></ion-col>
        </ion-row>
      </ion-grid>

      <app-expandable-detail [expandItem]='item' [curPage]='page' class='itemDetail'></app-expandable-detail>
    </li>
  </ion-list>


  <ion-item id="addItem">
    <ion-item>
      <ion-label position="floating">Add an item</ion-label>
      <ion-input autocomplete="on" autofocus="true" [(ngModel)]="newItem" (keyup.enter)='addNewItem(newItem)'></ion-input>
    </ion-item>
      <ion-icon slot="end" name="add-circle" (click)="addNewItem(newItem)"></ion-icon>
  </ion-item>

</ion-content>
