ion-toolbar{
  margin-right: 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}
ion-toolbar ion-icon{
  height: 100%;
  width: 5vh;
}

// idea for using :host-context from
// https://ionicthemes.com/tutorials/about/ionic-4-tutorial-mastering-web-components-in-ionic-4

:host-context(.ios){

  ion-content{
    position: relative;
  }

  ion-toolbar{
    margin-right: 0;
    position: fixed;
    bottom: 1vh; //!!!!!!!!!!!!!!!!!!!level up for ios
    width: 100%;
  }

  ion-toolbar ion-icon{
    height: 100%;
    width: 5vh;
  }

  #addItemButton{
    margin-top: 3vh;
  }

}
