:host-context(.md){

  ion-toolbar{
    height: 13%;
    margin-right: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding:10px;
  }
  ion-toolbar ion-icon{
    height: 100%;
    width: 5vh;
  }
}
// idea for using :host-context from
// https://ionicthemes.com/tutorials/about/ionic-4-tutorial-mastering-web-components-in-ionic-4

:host-context(.ios){
  ion-toolbar{
    height: 10%;
    margin-right: 0;
    position: fixed;
    bottom: 10vh;
    width: 100%;
    padding:10px;
  }

  ion-toolbar ion-icon{
    height: 100%;
    width: 5vh;
  }

  #addItemButton{
    margin-top: 3vh;
  }

}
