
  .expand-wrapper{
    height: 0;
    transition: 0.2s linear;
    overflow: hidden;
  }


  .expanded{
    height: 100px;
  }

  .tags-wrapper li{
    display: block;
    margin: 0;
    float: left;
  }
