<div class="expand-wrapper" [class.expanded]='item.value.expanding'>
  <ion-content>

    <input placeholder="New tag..."
           [matChipInputFor]="chipList"
           [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
           [matChipInputAddOnBlur]="true"
           (matChipInputTokenEnd)="addTag($event)"
           maxlength='30'>

      <mat-chip-list #chipList>
        <mat-chip *ngFor="let tag of item.value.tags" [selectable]="selectable"
                 [removable]='true' (removed)="deleteTag(tag)">
          <div class="tag-name"> {{tag}}</div>
          <ion-icon matChipRemove name="close-circle-outline"></ion-icon>
        </mat-chip>
      </mat-chip-list>

  </ion-content>
</div>
