<ion-header><app-search-bar [page]='1'></app-search-bar></ion-header>
<ion-content>
  <!--search tag bar-->



  <!--actual list-->
  <ion-list>
    <li  *ngFor='let item of itemData.shoppingList;trackBy:trackByListType' @itemState  (swipeleft)='swipeToshoppingList(item)'>
      <app-item [page]='1' [item]='item' ></app-item>
    </li>
  </ion-list>

    <!-- // Plan to implement during the Summer
      <ion-fab (click)='createDish()'>
       <ion-fab-button>
           <img  src="../assets/image/noun_hot meal_2297157.svg" alt="">
       </ion-fab-button>
     </ion-fab> -->

 <!--add new item bar-->


</ion-content>
<ion-footer><app-add-bar [page]='1'></app-add-bar></ion-footer>
