
  <!--search bar-->
<ion-content>
  <app-search-bar [page]='0'></app-search-bar>

  <!--actual list-->
  <ion-list >
    <li  *ngFor='let item of itemData.shoppingList|keyvalue;trackBy:trackByListType' @itemState  (swiperight)='swipeToHistory(item.key)' >
          <app-item [page]='0' [item]='item' ></app-item>
    </li>
  </ion-list>


  <ion-item id="addItem">
    <ion-item>
      <ion-label position="floating">Add an item</ion-label>
      <ion-input autocomplete="on" autofocus="true" [(ngModel)]="newItem" (keyup.enter)='addNewItem()'></ion-input>
    </ion-item>
      <ion-icon slot="end" name="add-circle" (click)="addNewItem(newItem)"></ion-icon>
  </ion-item>

</ion-content>
