ion-content{
  position: relative;
}
ion-header ion-icon{
  height: 5vh;
  width: 5vh;
  margin-top: 1vh;
}

ion-searchbar{
  padding: 0;
  height: 3.5vh;
}
#searchbar ion-row:nth-child(2){
  height: 2.8vh;
  padding: 0;
}
#searchbar ion-row:nth-child(2) ion-col{
  padding: 0;
}
#searchbar span{
  background-color: rgba(255, 179, 102,.3);
  border-radius: 2px;
}
#searchbar span:active{
  background-color: rgba(255, 179, 102,.8);
}
#addItem{
  margin-right: 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}
#addItem ion-icon{
  height: 100%;
  width: 5vh;
}
#addItemButton{
  margin-top: 3vh;
}


.input-wrapper{
  background: transparent;
}

.try{
  height: 0;
  transition: 0.5s linear;
}
