ion-content{
  position: relative;
}

#addItem{
  margin-right: 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}
#addItem ion-icon{
  height: 100%;
  width: 5vh;
}
#addItemButton{
  margin-top: 3vh;
}

.input-wrapper{
  background: transparent;
}
