
<ion-header>
<ion-toolbar>
    <ion-title>
      <ion-icon name="cart"></ion-icon>
    </ion-title>
</ion-toolbar>
</ion-header>

<!--search bar-->
<ion-content>
  <ion-grid id='searchbar'>
    <ion-row>
      <ion-col size='10'>
    <ion-searchbar ></ion-searchbar></ion-col><ion-col  size='2'><ion-icon name='trash' (click)='delete()'></ion-icon></ion-col>
    </ion-row>
  </ion-grid>


<!--actual list-->
<ion-item *ngFor='let item of items'  class='itemlist'>

    <ion-item (swipeLeftEvent)='swipeLeftEvent($event)' >
      <ion-checkbox slot='start' color='light' (click)='select(item)'></ion-checkbox>
      <ion-label (click)='displayDetail(item)' >{{item.name}}</ion-label>
        <app-expandable-detail></app-expandable-detail>
    </ion-item>

</ion-item>


<ion-item id="addItem">
  <ion-item>
    <ion-label position="floating">Add an item</ion-label>
    <ion-input autocomplete="on" autofocus="true" [(ngModel)]="newItem" (keyup.enter)='addNewItem(newItem)'></ion-input>
  </ion-item>
    <ion-icon slot="end" name="add-circle" (click)="addNewItem(newItem)"></ion-icon>
</ion-item>







</ion-content>
