// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-background-color:#FFFEFD;

  --ion-color-primary: #FFC759;
  --ion-color-primary-rgb: (255,199,89);
  --ion-color-primary-contrast: #FFFEFD;
  --ion-color-primary-contrast-rgb: #FFFFFF;
  --ion-color-primary-shade: #E8B551;
  --ion-color-primary-tint: #FFD177;

  --ion-color-secondary: #ffdd99;
  --ion-color-secondary-rgb: 255, 221, 153;
  --ion-color-secondary-contrast: #363636;
  --ion-color-secondary-contrast-rgb: 54,54,54;
  --ion-color-secondary-shade: #E8CD7B;
  --ion-color-secondary-tint: #FFE69C;

  --ion-color-tertiary: #FFA60C;
  --ion-color-tertiary-rgb: 255,166,12;
  --ion-color-tertiary-contrast:#FFFEFD;
  --ion-color-tertiary-contrast-rgb: #ffffcc;
  --ion-color-tertiary-shade: #E8970B;
  --ion-color-tertiary-tint: #FFB638;

  --ion-color-dark: #363636;
  --ion-color-dark-rgb: 54, 54, 54;
  --ion-color-dark-contrast: #FFFEFD;
  --ion-color-dark-contrast-rgb: 255,254,253;
  --ion-color-dark-shade: #272727;
  --ion-color-dark-tint: #4D4D4D;

  --ion-color-light: #FFFEFD;
  --ion-color-light-rgb: 255,254,253;
  --ion-color-light-contrast: #363636;
  --ion-color-light-contrast-rgb: 54,54,54;
  --ion-color-light-shade: #E8E7E6;
  --ion-color-light-tint: #FFFFFF;
}
