// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-background-color:#FFFEFD;

  --ion-color-primary: #FFB638;
  --ion-color-primary-rgb: (255,182,56);
  --ion-color-primary-contrast: #FFFEFD;
  --ion-color-primary-contrast-rgb: 255,254,253;
  --ion-color-primary-shade: #FFAE22;
  --ion-color-primary-tint: #FFBE4E;

  --ion-color-secondary: #FFC759;
  --ion-color-secondary-rgb: 255, 199, 89;
  --ion-color-secondary-contrast: #FFFEFD;
  --ion-color-secondary-contrast-rgb: 255,254,253;
  --ion-color-secondary-shade: #E8B551;
  --ion-color-secondary-tint: #FFCC68;

  --ion-color-tertiary: #FFE187;
  --ion-color-tertiary-rgb: 255,225,135;
  --ion-color-tertiary-contrast:#363636;
  --ion-color-tertiary-contrast-rgb: 54,54,54;
  --ion-color-tertiary-shade: #E8CD7B;
  --ion-color-tertiary-tint: #FFE69C;

  --ion-color-dark: #363636;
  --ion-color-dark-rgb: 54, 54, 54;
  --ion-color-dark-contrast: #FFFEFD;
  --ion-color-dark-contrast-rgb: 255,254,253;
  --ion-color-dark-shade: #2D2D2D;
  --ion-color-dark-tint: #5A5A5A;

  --ion-color-light: #FFFEFD;
  --ion-color-light-rgb: 255,254,253;
  --ion-color-light-contrast: #363636;
  --ion-color-light-contrast-rgb: 54,54,54;
  --ion-color-light-shade: #E8E7E6;
  --ion-color-light-tint: #FFFFFF;
}
